p{
         text-align: center;
         padding: 10px;
         background:linear-gradient(to right,#cc6bb4,#645ecf);
         font-family:Georgia;
         color: rgb(20, 235, 49);
         text-transform: uppercase;
         background-color: aliceblue;
}
h2{
    font-family: Georgia;
    text-align: center;
    color: black;
    text-shadow: 3px 3px 3px white;
}
h3{
    font-family: verdana;
    color:black;
    font-size: medium;
}
img{
    margin-right: 40px;
    margin-left: 50px;
    margin-top: 30px;
}
span{
    margin-left: 100px;
    margin-right: 100px;
    max-width: fit-content;
}
img:hover{
    border: 3px solid black;
}
body{
    background-image: url("https://i0.wp.com/wallpapers.com/images/hd/travel-hd-axhrsecphqby11wk.jpg?ssl=1");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: beige;
}

